/* Estilizações diretamente nas tags */
img {
    vertical-align: middle;
    align-items: center;
}

a {
    text-decoration: none;
    color: inherit;
}

footer {
    background-color: #fff;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 15px;
    width: 200px;
    border-radius: 20px 20px 0 0;
    margin: auto auto;
}

body {
    align-items: center;
    background-image: url(images/fundoXiado.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #fff;
    margin: 0 !important;
    animation-name: slidein;
    animation-duration: 2s;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

p {
    margin-block-end: 0px !important;
    margin-block-start: 0px !important;
}

/* ID'S */
#dia,
#mes,
#ano {
    margin-right: 10px;
    padding: 13px;
    border-radius: 10px;
}

#imagemFundo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(images/ImgFundo.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#imagemFundo img {
    vertical-align: middle;
}

#vh95 {
    min-height: 95vh;
}

/* classes */
.hoverIcone:hover {
    transition: 0.1s;
    border-radius: 10px;
    box-shadow: 2px 2px 4px 4px gray;
}

.pl50 {
    padding-left: 50px;
}

.flex {
    display: flex;
    justify-content: center;
}

.resultado {
    padding-top: 4vh;
}

.pb30 {
    padding-bottom: 30px;
}

.pr10 {
    margin-right: 10px;
}

/* texto */
#pesquise {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 26px;
    font-family: "Arial";
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
}

#ultimas-pesquisas {
    text-align: center;
    font-size: 28px;
    font-family: "Arial";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
}

/* mobile */
@media only screen and (max-width:600px) {
    #imagemFundo{
        display: flex;
        flex-direction: column;
    }
    header img:nth-child(1){
        width: 80px;
        padding-bottom: 10px;
    }
    header img:nth-child(2){
        width: 100px;
    }
    /* ID'S */
    #dia,
    #mes,
    #ano {
        margin-right: 0;
        padding: 0;
        border-radius: 0;
    }
    input{
        width: 50px;
    }
    /* classes */
    .pl50 {
        padding-left: 0;
    }
    .flex {
        display: flex;
        justify-content: center;
    }
    /* texto */
    #pesquise {
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 14px;
        font-family: "Arial";
        color: #ffffff;
        font-weight: bold;
        text-transform: uppercase;
    }
    #ultimas-pesquisas {
        text-align: center;
        font-size: 16px;
        font-family: "Arial";
        color: rgb(255, 255, 255);
        font-weight: bold;
        text-transform: uppercase;
    }
}