body{
    background-color: rgb(255, 255, 255);
}
h1, h2, p{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
img{
    height: 500px;
    display: block;
    margin: auto auto;
}

#apagar{
    background-color: rgb(192, 0, 0);
    color: rgb(255, 255, 255);
    height: 21px;
    margin: auto 0 auto 0;
}

.flex{
    display: flex;
    justify-content: center;
}
.flex input{
    margin: 10px;
}
