/* Estilizações diretamente nas tags */
body{
    background-color: rgb(255, 255, 255);
}
h1, h2, p{
    text-align: center;
    margin-bottom: 30px;
}
p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
img{
    width: 40vw;
    display: block;
    margin-left: 5vw ;
    margin-right: 5vw;
}
/* Estilizando coisas nos ID's */
#apagar{
    background-color: rgb(192, 0, 0);
    color: rgb(255, 255, 255);
    height: 21px;
    margin: auto 0 auto 0;
}
#conteudo{
    width: 35vw;
    margin-right: 5vw;
}
.flex{
    display: flex;
    justify-content: center;
}
.flex input{
    margin: 10px;
}
.resultado{
    margin-top: 5vh;
}
.descricao{
    font-size: 18px;
    font-family: 'Times New Roman', Times;
    font-weight: 100;
    text-align: justify;
}