/* ================= VARIAVEIS GLOBAIS ========================= */
:root{
    --font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* =========== ID's =================== */

#container-numeros{
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
}
#container-principal{
    margin-top: 100px;
}

#result{
    margin: 10px;
    width: 245px;
    background-color: #808080;
    font-size: 24px;
    font-family: --font;
}

/* ================== CLASSES =================== */
.botao{
    background-color: #808080;
    width: 60px;
    height: 60px;
    font-size: 24px;
    font-family: --font;
}

.botaoLargo{
    background-color: #808080;
    width: 124px;
    font-size: 24px;
    font-family: --font;
    margin-top: 5px;
}

/* ========== Estilizações fatoradas ============ */

.center{
    text-align: center;
}