ul{
    padding-top: 250px;
    text-decoration: none;
    display: flex;
    justify-content: center;
}
li{
    margin: 20px;
    text-decoration: inherit !important;
    color: black;
    list-style-type: none;
}
a{
    text-decoration: none !important;
    font-size: 18px;
    color: black;
}
a:hover{
    color: black;
}