@media screen and (min-width: 768px) {
  body {
    height: 95vh;
    background-image: url(API/API-Nasa/images/fundoXiado.png);
    background-repeat: no-repeat;
    background-size: cover;
    cursor: crosshair;
  }

  ul {
    text-decoration: none;
    display: flex;
    justify-content: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  li {
    text-decoration: inherit !important;
    color: black;
    list-style-type: none;
    margin: 20px;
  }

  a {
    text-decoration: none !important;
    font-family: 'Lucida Sans';
    font-weight: 500;
    text-transform: uppercase;
    font-size: 20px;
    color: rgb(255, 255, 255);
  }

  a:hover {
    color: rgb(255, 255, 255);
    border-bottom: 2px solid rgb(255, 255, 255);
    cursor: crosshair;
  }

  #rick {
    position: absolute;
    top: 9vh;
    left: 4vw;
  }

  #rick:hover {
    width: 160px;
  }

  #bender {
    position: absolute;
    bottom: 9vh;
    right: 4vw;
  }

  #bender:hover {
    width: 200px;
  }

  /*  animação */
  a {
    position: relative;
    display: inline-block;
  }

  a::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #04ff79;
    position: absolute;
    top: 100%;
    left: -15px;
    animation: rotate 4s linear infinite;
    animation-direction: alternate;
    animation-delay: 0.5s;
    animation-timing-function: ease-in-out;
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg) translateX(0);
    }

    50% {
      transform: translateX(150px);
      border: 2px solid #ffffff;
    }

    100% {
      transform: rotate(360deg) translateX(0);
      border: 2px solid #ff0404;
    }
  }
}